version: '4'

services:
  wmailserver:
    build: .
    container_name: wmailserver
    image: wmailserver-wmailserver:v4
    ports:
      - "25:25"      # SMTP
      - "465:465"    # SMTP SSL
      - "110:110"    # POP3
      - "995:995"    # POP3 SSL
    volumes:
      - ./www/wmailserver/config:/app/config
      - ./www/wmailserver/logs:/app/logs
      - ./www/wmailserver/usermanager:/app/usermanager
      - ./www/wmailserver/temp:/app/temp
    restart: unless-stopped